.coverContainer {
  position: relative;
  color: white;
}

.coverText {
  position: absolute;
  bottom: 150px;
  left: 180px;
  font-size: 70px;
  font-weight: bold;
  width: 30%;
}

.subtitleContainer {
  width: 80%;
  margin: 100px auto;
  font-size: 20px;
}

.homeSubtitle {
  font-family: 'Oswald', sans-serif;
  color: var(--theme-yellow);
}

.homeText {
  font-size: var(--theme-textSize);
  color: var(--theme-textColor);
}