.coverContainer {
  position: relative;
  color: white;
}

.coverText {
  position: absolute;
  bottom: 150px;
  left: 180px;
  font-size: 70px;
  font-weight: bold;
  width: 30%;
}

.sectionContainer {
  width: 80%;
  margin: 50px auto;
  font-size: 20px;
}

.homeTitle {
  font-family: 'Oswald', sans-serif;
  color: var(--theme-yellow);
  text-align: center;
}

.homeSubtitle {
  font-family: 'Oswald', sans-serif;
  color: var(--theme-yellow);
}

.homeText {
  font-size: var(--theme-textSize);
  color: var(--theme-textColor);
}

.imageCollage {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}